<!doctype html>
<html>
<head>
  <title>Join and Unite with Us</title>
  <link rel="stylesheet" type="text/css" 
      href="/static/css/styles.css" />
	  <style>
	  .form-container{
	  font-size: 20px;
	   padding-top: 10%;
    padding-right: 10%;
    padding-bottom: 10%;
    padding-left: 30%;
	}
	  </style>
</head>
<body>
  <div class="form-container">
    <p class="form-header">Sign Up</p>
    <form method="POST">
      <label>Username:</label>
        <input type="text" name="username"><br>
      <label>Password:</label>
        <input type="password" name="password"><br>
      <label>Email:</label>
        <input type="email" name="email"><br>
      <input type="submit" value="Register">
    </form>       
  </div>
</body>
</html>